.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

.nav-current a:visited {
    color: yellow;
}

@media (min-width: 795px) {
    .ctsingle .post-feed p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }
}

@media (max-width: 650px) {
    .hide {
        display: none !important;
    }

    .copyright {
        text-align: center;
    }
}

.post-full-content pre code {
    color: #e5eff5;
}

.post-mentions {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid #AEADAD;
    border-bottom: 1px solid #AEADAD;
    font-size: 16px;
}

.post-mentions ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.post-full-content figcaption h4 {
    text-align: center;
    font-size: 85%;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 1em;
}

.reading-time {

}

img.avatar {
    width: 128px;
    height: auto;
}


@media (min-width: 620px) {
    .photo-grid {
        column-count: 2;
        column-gap: 0;
    }

    section {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    .photo-grid {
        column-count: 3;
        column-gap: 0;
    }
}

.photo-grid-card {
    column-count: 2;
    column-gap: 1px;
}

.photo-grid-card > .post-card-image {
    margin-bottom: 1px;
}


.photo-cell:first-child {
    margin-top: 0;
}

.photo-cell {
    background-color: white;
    margin-bottom: 1vw;
    display: block;
}

.responsive-image {
    max-width: 100%;
}

.photo-cell {
    margin: 1rem;
}

.photo-cell img {
    display: block;
}

#search {
    padding: 0;
}

#search input[type=submit] {
    color: blue;
    display: none;
    padding: 0;
    border: 0;
}

#search input[type=search] {
    border-right: 0;
}

/* CONTACT */
/* Style inputs, select elements and textareas */
input, select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
  }

  textarea{
	height: 250px;
  }
  
  /* Style the label to display next to the inputs */
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  /* Style the submit button */
  button.submit-contact-form {
	background-color: black;
	color: lightgrey;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 20px;
  }

  button.submit-contact-form:hover {
	color:white;
  }
  
  /* Style the container */
  .container {
	border-radius: 5px;
	background-color: #f4f8fb;
	padding: 20px 20px;
	margin: 0 auto;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 450px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}

	.container {
		margin: 0 auto;
		width: 100%;
	}
  }
  
  @media screen and (min-width: 500px) {
	.container {
		margin: 0 auto;
		width: 500px;
	  }
  }


/* Tweet this */
  .tweet-this {
	background: #fff !important;
	border: 1px solid #ccc !important;
	padding: 0.6em 1em !important;
	font-size: 1.3em !important;
}
.tweet-this > p {
	letter-spacing: 1px !important;
	line-height: 1.42 !important;
}
.tweet-this > p > a {
	text-decoration: none !important;
    color: #555 !important;
    box-shadow: none !important;
}
.tweet-this > p > a:hover {
	color: #333 !important;
}
.tweet-this > a {
	color: #55acee !important;
	text-decoration: none !important;
	display: block !important;
	text-align: right !important;
    font-size: 0.8em !important;
    box-shadow: none !important;
}
.tweet-this > a > i {
	margin-right: 0.3em !important;
	vertical-align: middle !important;
}

.tweet-this svg {
    width: 24px;
    margin: 10px;
}

/* Cookie consent  banner */

#cookieConsentBanner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
#grantCookieConsent {
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding:5px;
  }