<main class="contact">

    <div class="container">

        
        {{ with .Site.Params.Form }}
            {{ if .Netlify }}
                <form name="contact" method="POST" data-netlify="true" class="contact__form" id="contactForm">
            {{ else }}
                <form action="{{ .action }}" method="{{ lower .method }}" class="contact__form" id="contactForm">
            {{ end }}

            
                    <!-- Name -->
                    <div class="row">
                        <div class="col-25">        
                            <label for="{{ .inputNameName }}">{{ .inputNameLabel }}</label>
                        </div>
                        <div class="col-75">
                            <input type="text" name="{{ .inputNameName }}" placeholder="{{ .inputNamePlaceholder }}" id="{{ .inputNameName }}"
                            aria-labelledby="{{ .inputNameName }}" required>
                        </div>
                    </div>
            
                    <!-- Email -->
                    <div class="row">
                        <div class="col-25">
                            <label for="{{ .inputEmailName }}">{{ .inputEmailLabel }}</label>
                        </div>
                        <div class="col-75">
                            <input type="email" name="{{ .inputEmailName }}" placeholder="{{ .inputEmailPlaceholder }}"
                            id="{{ .inputEmailName }}"
                            aria-labelledby="{{ .InputEmailName }}" required>
                        </div>
                    </div>
            
                    <!-- Message -->
                    <div class="row">
                        <div class="col-25">
                            <label for="{{ .inputMsgName }}">{{ .inputMsgLabel }}</label>
                        </div>
                        <div class="col-75">
                            <textarea placeholder="{{ .inputMsgPlaceholder }}" name="{{ .inputMsgName }}" id="{{ .inputMsgName }}" form="contactForm" 
                            maxlength="{{ .inputMsgLength }}" arial-labelledby="{{ .InputMsgName }}" required></textarea>
                        </div>
                    </div>
            
                    <!-- Submit -->
                    <div class="row">
                        <button class="submit-contact-form" type="submit" aria-label="{{ .inputSubmitValue }}">
                            {{ .inputSubmitValue }}
                        </button>
                    </div>
                
            </form>

        {{ end }}

    </div>

</main>