<footer class="site-footer outer">
    <div class="site-footer-content inner">
        {{ if .Site.Params.Indieweb }}
        <div class="h-card vcard">
            <p>
                <a style="text-decoration: none" href="{{ .Site.Author.website }}" class="p-name u-url url author metatag"
                   rel="me">
                    {{ .Site.Author.name }}
                </a> /
                <a class="u-email email metatag" rel="me" href="mailto:{{ .Site.Author.email }}">
                    Email Me
                </a>
            </p>
            {{with .Site.Author.avatar }}
            <p>
                <img class="u-photo avatar" src="{{ . }}" alt="Avatar"/>
            </p>
            {{ end }}
            <p>
                <span class="p-locality">{{ .Site.Params.Indieweb.city }}</span>,
                <span class="p-country-name">{{ .Site.Params.Indieweb.country }}</span><br/>
            </p>
        </div>
        {{ end }}


        <nav aria-label="Site footer" class="site-footer-nav">

            {{with .Site.Params.social.linkedinName}}<a href="https://www.linkedin.com/in/{{.}}" target="_blank" rel="me">LinkedIn</a>{{end}}
            {{with .Site.Params.social.twitterName}}<a href="https://twitter.com/{{.}}" target="_blank" rel="me">Twitter</a>{{end}}
            {{with .Site.Params.social.mediumName}}<a href="https://medium.com/@{{.}}" target="_blank" rel="me">Medium</a>{{end}}
            {{with .Site.Params.social.fbName}}<a href="https://www.facebook.com/{{.}}" target="_blank" rel="me">Facebook</a>{{end}}
            {{with .Site.Params.social.keybaseName}}<a href="https://keybase.io/{{.}}" target="_blank" rel="me">Keybase</a>{{end}}            
            {{with .Site.Params.social.githubName}}<a href="https://github.com/{{.}}" target="_blank" rel="me">Github</a>{{end}}
            {{with .Site.Params.social.flickrName}}<a href="https://flickr.com/people/{{.}}" target="_blank" rel="me">Flickr</a>{{end}}
            {{with .Site.Params.social.goodReads}}<a href="https://www.goodreads.com/user/show/{{.}}" target="_blank" rel="me">GoodReads</a>{{end}}

        </nav>

    </div>

    <div class="site-footer-content inner">
        <section class="copyright" style="line-height: 1.3em;margin: auto;">
            {{.Site.Params.orgName}} {{.Site.Params.copyright}}
        </section>
    </div>

</footer>