{{ "<!-- Google Tag Manager -->" | safeHTML }}
{{ "<!-- Create dataLayer and push page information -->" | safeHTML }}
<script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        page:'{{ .Page.Title }}',
        language: '{{ .Page.Language }}',
        taxonomies: {
            category: {{ .Page.Params.Category | urlize }},
            tags: {{ apply .Page.Params.Tags "urlize" "." }},
        }
    });
</script>

{{ if and (not .Site.IsServer) (.Site.Params.googletagmanager.liveEnvironment) }}
    {{/*  Production environment  */}}
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl+'{{ $.Site.Params.googletagmanager.liveEnvironment |safeURL }}';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ $.Site.Params.googletagmanager.containerId }}');
    </script>
{{ else if and (.Site.IsServer) (.Site.Params.googletagmanager.devEnvironment) }}
    {{/*  Development environment  */}}
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl+'{{ $.Site.Params.googletagmanager.devEnvironment | safeURL }}';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ $.Site.Params.googletagmanager.containerId }}');
    </script>
{{ else }}
    {{/*  Fallback to default (no-environment specific) snippet  */}}
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ $.Site.Params.googletagmanager.containerId }}');
    </script>
{{ end }}
{{ "<!-- End Google Tag Manager -->" | safeHTML }}