<header class="site-header outer">
    <div class="inner">

        <nav class="site-nav">

            {{ partial "site-nav-left" . }}

            {{ partial "site-nav-right" . }}

        </nav>

        <div class="site-header-content">
            <h1 class="site-title">{{.Title}}</h1>
                <h2 class="site-description">
                    {{.Description}}
                </h2>
        </div>

      </div>
</header>

{{ if not .Site.IsServer }}
    {{ if $.Site.Params.googleTagManager }}
        {{ partial "gtm-noscript-tag" . }}
    {{ end }}
{{ end }}