<header class="site-header outer">
    <div class="inner">

        <nav aria-label="Site menu" class="site-nav">

            {{ partial "site-nav-left" . }}

            {{ partial "site-nav-right" . }}

        </nav>

        <div class="site-header-content">
            <h1 class="site-title">{{.Title}}</h1>
                <h2 class="site-description">
                    {{.Description}}
                </h2>
        </div>

      </div>
</header>

{{ if .Site.Params.googletagmanager.containerId }}
  {{ partial "gtm-noscript-tag" . }}
{{ end }}