<header class="site-header outer" {{if .Site.Params.cover}} style="background-image: url({{.Site.Params.cover | absURL}})" {{end}}>
    <div class="inner">

        {{ $style := (print "header-content-" (.Scratch.Get "header-style")) }}

        <nav class="site-nav">

            {{ partial "site-nav-left" . }}

            {{ partial "site-nav-right" . }}

        </nav>

        <div class="site-header-content">

            {{ partial $style . }}

        </div>

        
    </div>
</header>

{{ if not .Site.IsServer }}
    {{ if $.Site.Params.googleTagManager }}
        {{ partial "gtm-noscript-tag" . }}
    {{ end }}
{{ end }}