<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ "js/jquery.fitvids.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/form-utility.js" | absURL}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ if or (.Site.Params.enableGaDebug) (not .Site.IsServer) }}
  {{ with .Site.Params.googleAnalyticsId }}
    {{ partial "google-analytics" . }}
  {{ end }}
{{ end }}

{{ if .Site.Params.cookieConsentBanner.enable }}

  {{ partial "cookie-consent" .Site.Params.cookieConsentBanner }}

{{ end }}