<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ "js/jquery.fitvids.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/form-utility.js" | absURL}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ if or (.Site.Params.enableGaDebug) (not .Site.IsServer) }}
  {{ with .Site.Params.googleAnalyticsId }}
    {{ partial "google-analytics" . }}
  {{ end }}
{{ end }}

{{ if .Site.Params.cookieConsentBanner.enable }}

  {{ partial "cookie-consent" .Site.Params.cookieConsentBanner }}

{{ end }}


{{ if .Site.Params.pushNotificationSubscribers.enable }}

  <script type="text/javascript">
    var subscribersSiteId='{{ .Site.Params.pushNotificationSubscribers.siteId }}';
  </script>
  <script type="text/javascript" 
    src="https://cdn.subscribers.com/assets/subscribers.js">
  </script>

  {{ if and (eq .Type "post") (ne .Kind "section") }}
    {{ if .Site.Params.applauseButton.enable }}
      <script  src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
      <script>
        const applauseButton = document.getElementById("applause-button");
        applauseButton.addEventListener("clapped", function (event) {
          window.dataLayer.push({
            "event":"applauseButtonClicked",
          });
        });     
      </script>
    {{ end }}
  {{ end }}

{{ end }}