{{ $section := .Site.GetPage "section" .Section }}
<article class="post-full post h-entry">
    <header class="post-full-header">
        <section class="post-full-meta">
            <div>
                <time class="post-full-meta-date dt-published" datetime="{{.Date.Format " 2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
                {{if .Params.tags }}
                <span class="date-divider">/</span>
                {{ range $index, $tag := .Params.tags }}
                <a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;
                {{end}}
                {{ end }}
            </div>
        </section>
        <section class="post-full-meta">
            {{/*
            Show "reading time" and "word count" but only if one of the following are true:
            1) A global config `params` value is set `showReadingTime = true`
            2) A section front matter value is set `showReadingTime = true`
            3) A page front matter value is set `showReadingTime = true`
            */}}
            {{ if (or (eq (.Param "showReadingTime") true) (eq $section.Params.showReadingTime true) )}}
            <div class="reading-time">
                <span>{{ .ReadingTime }} minutes read</span>
            </div>

            {{ end }}
        </section>
        <h1 class="post-full-title p-name">{{ .Title }}</h1>
    </header>

    {{if .Params.image}}

        {{ $img := resources.Get .Params.image }}

        {{ with $img }}
            <figure class="post-card-image" 
                    style="background-image: url({{ (.Fill "1200x600").Permalink }})">
            </figure>
        {{ end }}

    {{else}}

        <figure class="post-card-image"
                style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 23 | shuffle) 0 }}.jpg)">
        </figure>

    {{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown e-content">
            {{ .Content }}
        </div>
    </section>

    <div class="post-mentions" id="post-mentions" style="display:none">
        <ul class="mentions-list" id="mentions-list"></ul>
    </div>

    {{if .Site.Params.showAuthorSignatureFooterArticle }}
    <footer class="post-full-footer">
        <section class="author-card">
            <section class="author-card-content">
                <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
                <span class="author-card-name p-author">{{.Params.author | default .Site.Author.name}}</span>
                <p>{{.Params.authorDescription | default .Site.Author.description}}</p>

                {{if .Site.Params.showTweetAThanks }}
                    <p><i>Thanks for reading my blog! Don't hesite to <a href="http://twitter.com/intent/tweet?url={{ .Page.Permalink }}&text=Thank you @{{.Site.Params.twitterName}} for writing this helpful article. Cheers!%0a%0a{{ .Page.Title }}%0a%0a" target="_blank">tweet me a thanks</a> if you liked this article.</i></i></p>
                {{ end }}

            </section>
        </section>
    </footer>
    {{ end }}
</article>