<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": {{ .Site.Author.name }},
        "url": {{ .Site.BaseURL }},
        "sameAs": [],
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": {{ .Site.Author.mobile }},
            "email": {{ .Site.Author.email }},
            "contactType": "author"
          }]
    }
</script>

{{ if eq .Kind "home" }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Blog",
            "name": {{ .Site.Params.title }},
            "url": {{ $.Site.BaseURL }},
            "description": {{ .Site.Params.metaDescription }},
            "publisher": {
            "@type": "Organization",
            "name": {{ .Site.Params.title }}
            }
        }
    </script>
{{ end }}

{{ if and (eq .Type "post") (ne .Kind "section") }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "headline": {{ .Title }},
            "description": {{ .Summary | plainify | safeHTML }},
            "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}],
            "articleBody": {{ .Content | plainify | safeHTML }},
            "wordCount": {{ .Content | countwords }},
            "url": {{ .Permalink | absURL }},
            "image": {{ .Params.FeaturedImage | absURL }},
            "dateCreated": {{ .Date.Format "2006-01-02" }},
            "datePublished": {{ .Date.Format "2006-01-02" }},
            "dateModified": {{ .Date.Format "2006-01-02" }},
            "author": {
                "@type": "Person",
                "name": {{ .Site.Author.name }},
                "email": {{ .Site.Author.email }},
            },
            "mainEntityOfPage": { "@type": "WebPage" },
            "publisher": {
                "@type": "Organization",
                "name": {{ .Site.Params.title }},
                "logo": {
                    "@type": "ImageObject",
                    "url": {{ .Site.Author.avatar | absURL }}
                }
            }
        }
    </script>
{{ end }}


{{ if or (eq .Kind "taxonomy") (eq .Kind "section") }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "CollectionPage",
            "name": {{ .Title }},
            "headline": {{ .Title }},
        
            "about": {
            "@type": "Person",
            "@id": "/about",
            "name": {{ .Site.Author.name }},
            "description": {{ .Site.Author.description }}
            },
        
            "mainEntity": {
            "@type": "ItemList",
            "itemListElement": [

                {{ $paginator := .Paginate .Site.RegularPages }}

                {{ range $paginator.Pages }}
                        {
                        "@type": "BlogPosting",
                        "name": {{ .Title }},
                        "publisher": {
                            "@type": "Organization",
                            "name": {{ .Site.Params.title }},
                            "logo": {
                                "@type": "ImageObject",
                                "url": {{ .Site.Author.avatar | absURL }}
                            }
                        },
                        "headline": {{ .Title }},
                        "description": {{ .Title }},
                        "url": {{ .Permalink }},
                        "dateCreated": {{ .Date.Format "2006-01-02" }},
                        "datePublished": {{ .Date.Format "2006-01-02" }},
                        "dateModified": {{ .Date.Format "2006-01-02" }},
                        "mainEntityOfPage": { "@type": "WebPage" },
                        "image": {{ (.Params.FeaturedImage | absURL) | default (.Site.Author.avatar | absURL) }},
                        "author": {
                            "@type": "Person",
                            "name": {{ .Site.Author.name }},
                            "email": {{ .Site.Author.email }},
                        },
                        },
                {{ end }}

                ]
            }
        }
    </script>
{{ end }}
